<div class="container">
  <%= if assigns[:firmware_status] do %>
    <%= if @firmware_status.action do %>
      Status: <%= to_human(@firmware_status) %>
    <% else %>
      <%= if FirmwareStatus.update_available?(@firmware_status) do %>
        There's an update available to <%= inspect @firmware_status.latest_version %>
        <button class="btn" phx-click="Upgrade Firmware">Upgrade Firmware</button>
      <% end %>
    <% end %>
  <% end %>
</div>
