:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $family-sans-serif;
  margin: 0;
  color: darken($dark, 20%);
  background-color: #EEEEEE;
}

header {
  height: 4rem;
  padding: 0.5em;
  font-size: 2rem;
  font-weight: bold;
  background-color: darken($dark, 30%);
  color: $light;
}

ul {
  list-style: none;
  padding: 0;
}
