.grid {
  display: grid;
  grid-template-columns: 9fr 3fr;
  margin: 0;
  grid-gap: 0.5em;
}

// nav {
//   grid-column: 1 / 3;
//   grid-row: span 1;
//   padding: 1em 2em;
//   background-color: $dark;
//   color: white;
// }

.container {
  margin: 0 2em;
}
