// Set your brand colors
$dark: #598CB3;
$dark-secondary: #F8F8F8;
// $thingo: #B3DEFF;
$light: #EEEEEE;
// $thing: #E16262;
$primary: #FFE0B3;// #FABC60;

$gray: #CCCCCC;
// $primary-bold: #517F77;
// $primary-muted: #A0B2A6;
// $secondary: #CBBFBB;
// $tertiary: #EABDA8;
$red: #ff0000;

$family-sans-serif: "Nunito", sans-serif;
