// Set your brand colors
$dark: #493843;
$primary-bold: #517F77;
$primary-muted: #A0B2A6;
$secondary: #CBBFBB;
$tertiary: #EABDA8;
$gray: #CCCCCC;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
