<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <div>
    <label>G-Code</label>
    <%= file_input f, :file, "data-test": "print_file_file_input" %>
  </div>

  <div>
    <label>Name <%= text_input f, :name, "data-test": "print_file_name" %></label>
  </div>

  <div>
    <%= submit "Submit", "data-test": "upload_print_file_submit" %>
  </div>
<% end %>
